@{
    ViewBag.Title = "LoginView";
}

<div id="fb-root"></div>
<script src="@Url.Content("~/Scripts/Account/facebookLogin.js")" type="text/javascript"></script>
<div class="hero-unit">
<h1>Web Dashboard</h1>
<h4>Login with Facebook</h4>
<div class="fb-login-button" data-show-faces="true" data-width="500" data-max-rows="1"></div>

<div id="loginLoader" style="display:none">
<p>Logging in...</p>
<p><img src="@Url.Content("~/Content/login-loader.gif")"/></p>
</div>

</div>