@{
    ViewBag.Title = "LoginView";
}

<h2>LoginView</h2>

<div id="fb-root"></div>
<script src="@Url.Content("~/Scripts/Account/facebookLogin.js")" type="text/javascript"></script>


<div class="fb-login-button" data-show-faces="true" data-width="500" data-max-rows="1"></div>

<div id="loginLoader" style="display:none">
<p>Logging in...</p>
<p><img src="@Url.Content("~/Content/login-loader.gif")"/></p>
</div>