@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>
<link href="@Url.Content("~/CSS/fullcalendar.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/CSS/fullcalendar.print.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/Calendar/fullcalendar.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Calendar/gcal.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            aspectRatio: 3,

            events: [

    ]

        });

    });
</script>

<div id='calendar'></div>
<div>
<h3>Create a new event</h3>
<input type="text" runat="server" placeholder="Enter event title" id="eventTitle"/>
<br />
<input type="text" runat="server" placeholder="Enter event start date" id="startDate"/>

</div>




<input type="button" onclick="addEvent()" runat="server" value="Create Event"/>






<script type="text/javascript">
    function addEvent() {
        var newEvent = new Object();
        var startDate = document.getElementById("startDate").value;
        var title = document.getElementById("eventTitle").value;


        newEvent.title = title;
        newEvent.start = new Date(startDate);
        newEvent.allDay = false;

        $.ajax({
            url: '/Calendar/SaveEvent/',
            data: { event_title: title, event_start_date: startDate },
            type: 'POST'
        });



        $('#calendar').fullCalendar('renderEvent', newEvent);
    }






</script>