<div class="hero-unit">
    <h1>
        Welcome to the Facebook Portal!
    </h1>
    <p>
        Here you can access all your facebook stuff! Have fun!
    </p>
    <p>
        <a class="btn btn-primary btn-large" onclick='postToFeed(); return false;'>Update your
            Facebook status</a></p>
    <p>
        <a class="btn btn-primary btn-large" onclick='send(); return false;'>Send a Facebook
            Message</a></p>
    <p>&nbsp&nbsp URL<input id="linkBox" class="span2" type="text" placeholder="URL" /><text id="linkError"></text>
    </p>
   
        
        <a class="btn btn-primary btn-large" onclick='upload(); return false;'>Upload a Photo</a></p>

        <p>
  <a class="btn btn-primary btn-large" onclick='addFriend(); return false;'>Add a friend</a></p>
</div>
&nbsp&nbsp Frie
        Friend ID<input id="idBox" class="span2" type="text" placeholder="ID" /><text id="idError"></text>
    </p>
</div>
