@model Web_Engineering_549.Models.Images

@using (Html.BeginForm("Facebook", "Facebook", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        Select Image
        <input type="file" name="file" />&nbsp;&nbsp;&nbsp;
        <input type="submit" value="Upload Image" name="Command" /><br />
    </div>
    <div>
    </div>
}

<div>
 @foreach (var image in Model.images)
 {
    
    <div><span>@image.ToString()</span><input class="uploadPhoto" value="set photo" type="button"/></div>
 }
</div>

<script type="text/javascript">

    $('.uploadPhoto').click(function () {
        var _this = $(this);
        var imgURL = _this.prev().html()

        var token = FB.getAuthResponse()['accessToken'];

        FB.api('/me/photos', 'post', {
            message: 'photo description',
            status: 'success',
            url: imgURL,
            access_token: token
        }, function (response) {

            if (!response || response.error) {
                alert('Error occured');
            } else {
                alert('success');
            }

        });

    });
</script>