@using (Html.BeginForm("Facebook", "Facebook", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        Select Image
        <input type="file" name="file" />&nbsp;&nbsp;&nbsp;
        <input type="submit" value="Upload Image" name="Command" /><br />
    </div>
    <div>
    </div>
}