<div class="hero-unit" id="mainStockDiv">
    
    <table id="tickerTable">
        <tr>
            <td>
    <div id="gainerDiv">
        <h4>Top 10 Gainers</h4>
        <script type="text/javascript">
            var gainerTick = new WBIHorizontalTicker('gainers');
            gainerTick.start();
        </script>
    </div>
            </td>
            <td>
    <div id="loserDiv">
        <h4>Top 10 Losers</h4>
        <script type="text/javascript">
            var loserTick = new WBIHorizontalTicker('losers');
            loserTick.start();
        </script>
    </div>
            </td>
        </tr>
    </table>
    
    <h1 class="stockText">Welcome to the Stock Portal!</h1>
    <p class="stockText">
        Here you can search stock information and request your stock transaction history.
    </p>
    
    <div class="stockDiv">
        Stock Search:
        <input type="text" id="stockSearchField" />
        <input type="button" value="Search" id="stockSearchButton" onclick="goToStockInfoPage();" />
        <br />
        <br />
        <a href="Transactions" class="viewStocksLink">View All Transactions</a> 
        |
        <a href="StocksOwned" class="viewStocksLink">View My Stocks</a>       
    </div>
 
    <!--<div id="stockTrans" title="Set Up Your Transaction">
       <p class="validateTips" style="display:none">All form fields are required.</p>
        <form id="buyStockForm" style="display:none">
            <fieldset>
                <label for="nameOfStock">Stock Name</label>
                <input type="text" name="nameOfStock" id="nameOfStock" class="text ui-widget-content ui-corner-all" />
                <label for="ticker">Stock Symbol</label>
                <input type="text" name="ticker" id="ticker" class="text ui-widget-content ui-corner-all"/>
                <label for="stockPrice">Stock Price</label>
                <input type="text" name="stockPrice" id="stockPrice" class="text ui-widget-content ui-corner-all" />
                <label for="quantityToBuy">Quantity</label>
                <input type="text" name="quantity" id="quantityToBuy" class="text ui-widget-content ui-corner-all" />
            </fieldset>
        </form>
    </div>-->
    
</div>
