<script src="@Url.Content("~/Scripts/Account/stockSearch.js")" type="text/javascript"></script>

<div class="hero-unit" id="mainStockDiv">
    
    <table id="tickerTable">
        <tr>
            <td>
    <div id="gainerDiv">
        <h4>Top 10 Gainers</h4>
        <script type="text/javascript">
            var gainerTick = new WBIHorizontalTicker('gainers');
            gainerTick.start();
        </script>
    </div>
            </td>
            <td>
    <div id="loserDiv">
        <h4>Top 10 Losers</h4>
        <script type="text/javascript">
            var loserTick = new WBIHorizontalTicker('losers');
            loserTick.start();
        </script>
    </div>
            </td>
        </tr>
    </table>
    
    <div class="stockDiv">
        Stock Search:
        @using (Html.BeginForm("StockInfo", "Stocks", FormMethod.Get, new { @class = "form-search"}))
        {
                    
            <div class="input-append">
                <input id="stockSearchField" name="symbol" placeholder="symbol" type="text" class="input-medium search-query"></input>
                <button id="stockSearch" type="submit" class="btn">Search</button>
            </div>
        }
        <br />
        <br />
        <a href="Transactions" class="viewStocksLink">View All Transactions</a> 
        |
        <a href="StocksOwned" class="viewStocksLink">View My Stocks</a>       
    </div>
    
</div>
