<div class="hero-unit">
    <h1>Welcome to the Stock Portal!</h1>
    <p>
        Here you can view, purchase, and sell stocks.
    </p>
    
    <table id="tickerTable">
        <tr>
            <td>
    <div id="gainerDiv">
        <h4>Top 10 Gainers</h4>
        <script type="text/javascript">
            var gainerTick = new WBIHorizontalTicker('gainers');
            gainerTick.start();
        </script>
    </div>
            </td>
            <td>
    <div id="loserDiv">
        <h4>Top 10 Losers</h4>
        <script type="text/javascript">
            var loserTick = new WBIHorizontalTicker('losers');
            loserTick.start();
        </script>
    </div>
            </td>
        </tr>
    </table>

    <table id="ownedStocksTable">
        <tr>
            <td><div id="ownedStocksDiv"></div></td>
        </tr>
        <tr>
            <td><div id="stockControls">
                    <input type="button" value="Sell" id="sellStockButton" onclick="sellStock();" />
                    <input type="button" value="Comment" id="commentStockButton" onclick="commentOnStock();" />
                </div>
            </td>
        </tr>
    </table>

    <table id="stockSearchTable">
        <tr>
            <td colspan="2">Stock Search:
                <input type="text" id="stockSearchField" />
                <input type="button" value="Search" id="stockSearchButton" onclick="getStockQuote();" />
                <input type="button" value="Buy" id="buyStockButton" onclick="buyStock();" style="display:none" />
            </td>
        </tr>
        <tr>
            <td colspan="2"><div id="resultsDiv"></div></td>
        </tr>
        <tr>
            <td colspan="2"><div id="graphDiv" style="width:200px;height:100px;"></div></td>
        </tr>
    </table>

 
    
</div>
