@{
    ViewBag.Title = "Transactions";
}

<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" type="text/javascript"></script>
<link href="@Url.Content("~/CSS/stocks.css")" type="text/css" rel="stylesheet" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/Stocks/transactions.js")"></script>

<div class="hero-unit">

<div class="stockDiv">
        <a href="Stocks" class="viewStocksLink">Search Stocks</a> 
        |
        <a href="StocksOwned" class="viewStocksLink">View My Stocks</a> 
        |
        <a href="javascript: clearStockHistory()" class="viewStocksLink">Clear Stock History</a> 
</div>
<br />   
<div id="transactionsHeader">
    <h2>Transaction History</h2>    
</div>
<div id="stockTransactionsDiv"></div>
<script type="text/javascript">
    $(document).ready(function () {
        loadStockTransactions();
    });
</script>
</div>