/*
   Friday, April 12, 20134:22:51 PM
   User: 
   Server: LOPES-PC\LOPESSQLSERVER
   Database: WebDashboard
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Account_ChatMessage
	(
	userId bigint NOT NULL,
	chatMsgId uniqueidentifier NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Account_ChatMessage SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Account_ChatMessage', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Account_ChatMessage', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Account_ChatMessage', 'Object', 'CONTROL') as Contr_Per

alter table Account_ChatMessage
add constraint Account_ChatMessage_Account_FK FOREIGN KEY ( userId ) references Account(userID)

alter table Account_ChatMessage
add constraint Account_ChatMessage_ChatMessage_FK FOREIGN KEY (chatMsgId) references ChatMessage(chatMsgId) 