div.widget {
    float: left;
    border: solid thin #808080;
}

#leftcol
{
float: left;
width: 420px;
margin: 0;
padding: 1em;
}

#content
{
margin-left: 450px;
border-left: 1px solid gray;
padding: 1em;
max-width: 36em;
}