#gainerDiv, #loserDiv 
{
    border-radius:4px;
    border-width:2px;
    border-color:Silver;
    border-style:solid;
    background-color:white;
    margin-top:0px;
}



#chartDiv 
{
position:absolute;
right:4%;
top:21.5%;
}

#queryTable 
{
    width:50%;
    border-style:solid;
    border-radius:6px;
    border-width:2px;
    border-color:Silver;
    background-color:white;
}

#queryTable th, #quoteTable th
{
    font-size:28px;
}

#gainerDiv h4, #loserDiv h4
{
    margin-left:6px;
}

#tickerTable, #stockQuoteTable
{
    width:100%;
    margin-bottom:5%;
}

#tickerTable td, #stockQuoteTable td
{
    width:50%;
}

#stockQuoteTable td, #stockResultsDiv
{
    vertical-align:top;
}


.ui-autocomplete-loading 
{
    background: white url('images/small_loading.gif') right center no-repeat;
}



svg 
{
    border-style:solid;
    border-color:silver;
    border-width:2px;
    margin-top:3px;
}


#topStockTable, #quoteTable
{
    width:100%;
    text-align:left;
    border-style:solid;
    border-radius:6px;
    border-width:2px;
    border-color:Silver;
    background-color:white;
}

.highcharts-container 
{
    border-style:solid;
    border-radius:6px;
    border-width:2px;
    border-color:Silver;
}

#stockQuoteDiv 
{
    margin-top:8px;
}



#stockSearchField
{
    margin:0px;
    width:30%;
}

#homeStockSearchField 
{
margin:0px;
width:275px;
}

#homeStockSearchTable 
{

}


#stockSearchTable 
{
    margin-top:10px;
    margin-left:0px;
    text-align:left;
    width:50%;
    float:right;
}

#ownedStocksTable 
{
    margin-top:10px;
    float:left;
}

.stockDiv 
{

    margin-top:5%;
}

.stockDiv 
{
    width:100%;
    height:auto; 
    margin:0 auto;
    text-align:center;
}

.stockForm
{
    text-align:center;
    width:80%; 
    margin:0 auto;
}

#stockTrans 
{
padding:10px;
}

.ui-dialog-buttonset 
{
    width:100%;
    text-align:center;
}

.ui-widget-overlay 
{
    background-color:grey;
    opacity:0.9;
}

#stockTransactionsTable 
{
margin-left:2%;
margin-top:0px;
width:95%;
border-style:solid;
border-radius:6px;
border-width:2px;
border-color:Silver;
background-color:white;
text-align:center;
}

#transactionsHeader 
{
margin-left:2%;
margin-bottom:0px;
width:94.7%;
border-style:solid;
border-width:2px;
border-color:Silver;
background-color:white;
text-align:center;
}

#mainStockDiv 
{
padding-top:1%;
}

.stockText 
{
text-align:center;
}

#buyStockButton 
{
margin-left:2%;
}

#stockControls 
{
margin-bottom:2%;
}

.viewStocksLink 
{
font-size:20px;
}