#gainerDiv, #loserDiv 
{
    border-radius:4px;
    border-width:2px;
    border-color:Silver;
    border-style:solid;
    background-color:white;
    margin-top:0px;
}

#gainerDiv h4, #loserDiv h4
{
    margin-left:6px;
}

#tickerTable, #stockQuoteTable
{
    width:100%;
}

#tickerTable td, #stockQuoteTable td
{
    width:50%;
}

#stockQuoteTable td, #stockResultsDiv
{
    vertical-align:top;
}


.ui-autocomplete-loading 
{
    background: white url('images/small_loading.gif') right center no-repeat;
}

#queryTable 
{
    width:100%;
    border-style:solid;
    border-radius:6px;
    border-width:2px;
    border-color:Silver;
    background-color:white;
}

svg 
{
    border-style:solid;
    border-color:silver;
    border-width:2px;
    margin-top:3px;
}


#topStockTable, #quoteTable
{
    width:100%;
    text-align:left;
    border-style:solid;
    border-radius:6px;
    border-width:2px;
    border-color:Silver;
    background-color:white;
}

.highcharts-container 
{
    border-style:solid;
    border-radius:6px;
    border-width:2px;
    border-color:Silver;
}

#stockQuoteDiv 
{
    margin-top:8px;
}

#queryTable th, #quoteTable th
{
    font-size:28px;
}

#stockSearchField, #homeStockSearchField
{
    margin:0px;
    width:60%;
}

#stockSearchTable 
{
    margin-top:10px;
    margin-left:0px;
    text-align:left;
    width:50%;
    float:right;
}

#ownedStocksTable 
{
    margin-top:10px;
    float:left;
}

.stockDiv 
{
    width:100%;
    background-color:grey;
}

#stockTrans 
{
padding:10px;
}

.ui-dialog-buttonset 
{
    width:100%;
    text-align:center;
}

.ui-widget-overlay 
{
    background-color:grey;
    opacity:0.9;
}
